:root {
  --basic-font-family: "Ralewey", "Rubik", sans-serif;
  --second-font-family: "Rubik", sans-serif;
  --color-basic-black: #000000;
  --color-basic-background: #FFE17F;
  --color-basic-white: #FFFFFF;
  --color-black-opacity-3: rgba(0, 0, 0, 0.3);
  --color-purple: #af4fff;
  --color-white-opacity-3: rgba(255, 255, 255, 0.3);
  --color-basic-grey: #444444;
  --color-yellow-dark: #FFC700;
  --color-grey-lite: #F0F0F0;
  --color-grey-border: #C4C4C4;
  --color-basic-red: #FF3D3D;
  --color-grey-input: rgba(240, 240, 240, 1);
}

*{
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
 }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.body {
  min-width: 1440px;
  background-color: var(--color-basic-white);
  font-family: var(--basic-font-family);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/*  Хедер  */
.header {
  min-width: 1440px;
  height: 160px;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  position: relative;
  z-index: 3;
}



.header__cup {
  transform: translateY(-23px);
  min-width: 1160px;
  margin: 0px auto 0px auto;
  background-color: var(--color-basic-background);
  padding-bottom: 30px;
}

.header__logo-link {
  display: inline-block;
  width: auto;
  transform: translateY(-23px);
  margin-left: 60px;
  margin-bottom: 3px;
}

.header__logo-img {

}

.header__logo-img:hover {
  opacity: 0.6;
}

.header__logo-img:active {
  opacity: 0.3;
}

.header__logo-link:focus {
  outline: 2px solid var(--color-purple);
}


.header__cup-container {
  margin-left: 60px;
  display: flex;
  justify-content: space-between;
  width: 1040px;
  height: 40px;
}

.search {
  position: relative;
  margin-right: -30px;
  height: 40px;
  display: flex;
  width: 517px;
  margin-right: 26px;
}

.search::before {
  content: "";
  background-image: url(images/search.svg);
  width: 16px;
  height: 16px;
  position: absolute;
  top: 10px;
  left: 15px;
}


.search__input {
  font-family: var(--second-font-family);
  line-height: 36px;
  font-size: 16px;
  background-color: var(--color-basic-background);
  color: var(--color-black-opacity-3);
  margin: auto auto auto 0px;
  padding: 0 0 0 45px;
  border: 2px solid var(--color-basic-black);
  border-radius: 20px 0 0 20px;
  width: 314px;
  max-height: 40px;
  display: flex;
}

.search__input::-webkit-input-placeholder {
  color: var(--color-basic-black);
}

.search__input:focus {
  color: var(--color-basic-black);
}

.search__button {
  padding: 0px;
  border: 2px solid var(--color-basic-black);
  border-left: 0;
  border-radius: 0 20px 20px 0;
  width: 160px;
  height: 40px;
  font-family: var(--second-font-family);
  line-height: 40px;
  font-size: 16px;
  background-color: var(--color-basic-background);
  cursor: pointer;
}

.search__button:hover {
  color: var(--color-basic-white);
  background-color: var(--color-basic-black);
}

.search__button:active {
  color: var(--color-white-opacity-3);
  background-color: var(--color-basic-black);
}

.header__cup-button {
  list-style: none;
  display: flex;
  margin: auto 0 auto auto;
  height: 30px;
  width: 498px;
}

.header__cup-button-entry {
  width: 249px;
  height: 30px;
  background-color: var(--color-basic-background);
  margin-right: auto;
  position: relative;
}

.header__cup-button-entry-link {
  display: inline-block;
  font-family: var(--second-font-family);
  line-height: 30px;
  height: 30px;
  font-size: 18px;
  width: 83px;
  text-align: right;
  color: var(--color-basic-black);
  text-decoration: none;
  cursor: pointer;
}


.header__cup-button-entry-link::before {
  content: "";
  background-image: url(images/enter.svg);
  width: 13px;
  height: 12px;
  position: absolute;
  top: 9px;
  left: 1px;
}

.header__cup-button-compare {
  width: 110px;
  height: 30px;
  background-color: var(--color-basic-background);
  margin-right: auto;
  text-align: right;
  position: relative;
}

.header__cup-button-compare-link {
  display: inline-block;
  font-family: var(--second-font-family);
  line-height: 30px;
  height: 30px;
  font-size: 18px;
  width: 110px;
  text-align: right;
  color: var(--color-basic-black);
  text-decoration: none;
  cursor: pointer;
}

.header__cup-button-compare-link::before {
  content: "";
  background-image: url(images/compare.svg);
  width: 10px;
  height: 17px;
  position: absolute;
  top: 9px;
  left: 5px;
  background-repeat: no-repeat;
}

.header__cup-button-basket {
  position: relative;
}

.button__basket {
  width: 132px;
  height: 30px;
  background-color: var(--color-basic-background);
  text-align: right;
  position: relative;
  cursor: pointer;
  font-size: 18px;
  line-height: 30px;
}

.button__basket::before {
  content: "";
  background-image: url(images/basket.svg);
  width: 16px;
  height: 14px;
  position: absolute;
  top: 7px;
  left: 32px;
}

.button__basket-value-order {
  display: inline-block;
  line-height: 21px;
  width: 21px;
  height: 21px;
  box-sizing: border-box;
  border-radius: 50%;
  background-color: var(--color-basic-white);
  text-align: center;
  position: absolute;
  left: 12%;
  top: 15%;
}

.header__cup-button-entry-link:hover,
.header__cup-button-compare-link:hover,
.button__basket:hover {
  opacity: 0.6;
}

.header__cup-button-entry-link:active,
.header__cup-button-compare-link:active,
.button__basket:active {
  opacity: 0.3;
}

.header__cup-button-entry-link:focus,
.header__cup-button-compare-link:focus,
.button__basket:focus {
  outline: 2px solid var(--color-purple);
}

/*корзина*/
.basket {
  min-height: 134px;
  position: absolute;
  top: 130%;
  right: -60%;
  width: 320px;
  background-color: var(--color-basic-black);
  display: grid;
  grid-template-rows: auto 134px;
  transform: scale(0);
  transform-origin: center top;
}

.button__basket:focus ~ .basket {
  transform: scale(1);
  transition: 0.2s;
  transform-origin: center top;
}

.basket:focus-within {
  transform: scale(1);
}


.basket::before {
  content: "";
  width: 9px;
  height: 9px;
  background-color: var(--color-basic-black);
  transform: rotate(45deg);
  position: absolute;
  top: -4px;
  left:50%;
}

.basket-list {
  display: flex;
  flex-direction: column;
}
.basket__order {
  display: flex;
  height: 83px;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
}




.basket__orde-picture {
  position: absolute;
  margin-right: 20px;
  left: 20px;

}
.basket__order-name {
  font-family: var(--second-font-family);
  font-size: 16px;
  font-weight: 400px;
  padding-left: 60px;
  color: var(--color-basic-white);
  margin: auto 20px auto 0;
  text-decoration: none;
  width: 100%;
  height: 43px;
  line-height: 20px;
}

.basket__order-name:hover,
.basket__order-name:hover + .basket__orde-picture {
  opacity: 0.6;
}


.basket__order-name:active,
.basket__order-name:active + .basket__orde-picture{
  opacity: 0.3;
}

.basket__order-name:focus {
  outline: 2px solid var(--color-purple);
}

.basket__order-delete {
  color: transparent;
  width: 10px;
  height: 10px;
  background-image: url(images/basket__delete.svg);
  background-color: var(--color-basic-black);
  cursor: pointer;
}

.basket__order-delete:hover {
  opacity: 0.6;
}

.basket__order-delete:active {
  opacity: 0.3;
}

.basket__order-delete:focus {
  outline: 2px solid var(--color-purple);
}

.basket__order-total {
  height: 134px;
  width: 320px;
  grid-row: -1/-2;
  bottom: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 44px 90px;
}
.basket__order-total-value {
  font-family: var(--second-font-family);
  font-size: 16px;
  line-height: 44px;
  text-align: center;
  grid-column: 1/2;
  background-color: rgba(26, 26, 26, 1);
  color: var(--color-basic-white);
}
.total-value {
}
.basket__order-total-price {
  font-family: var(--second-font-family);
  font-size: 16px;
  line-height: 44px;
  text-align: center;
  grid-column: -1/-2;
  background-color: rgba(26, 26, 26, 1);
  color: var(--color-basic-white);
}
.total-price {
}

.basket__link {
  display: inline-block;
  font-family: var(--basic-font-family);
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.2em;
  color: var(--color-basic-black);
  background-color: var(--color-basic-white);
  grid-column: 1/-1;
  width: 280px;
  line-height: 52px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 20px;
  margin-top: 20px;
}

.basket__link:hover {
  background-color: var(--color-basic-background);
}

.basket__link:active {
  color: var(--color-black-opacity-3);
}

.basket__link:focus {
  outline: 2px solid var(--color-purple);
}


.header__footer {
  display: flex;
  flex-direction: row;
  margin: 0 auto 0 auto;
  justify-content: space-between;
  transform: translateY(-24px);
  width: 1160px;
  background-color: var(--color-basic-background);
  height: 40px;
  z-index: -1;
}

.header__footer-item {
  display: flex;
  justify-content: space-between;
  width: 1040px;
  margin-left: 60px;
  list-style: none;
}

.catalog {
  display: flex;
  flex-direction: row;
  height: 50px;
  width: 293px;
  justify-content: space-between;
  margin-right: 238px;
}

.catalog__link{
  width: 297px;
  font-family: var(--basic-font-family);
  line-height: 50px;
  font-size: 18px;
  font-weight: 800;
  height: 54px;
  text-transform: uppercase;
  letter-spacing: 0.18em;
  text-decoration: none;
  color: var(--color-basic-black);
  box-sizing: border-box;
  z-index: 2;
  text-align: left;
  display: flex;
  justify-content: space-between;
  padding-top: 2px;
  padding-bottom: 2px;
}

.catalog__link::after {
  content: "";
  background-image: url(images/catalog_open.svg);
  height: 52px;
  width: 50px;
  opacity: 0.3;
  background-position: 0px 0px;
  background-repeat: no-repeat;
  padding-right: 2px;
}


.catalog__link:focus {
  outline: 2px solid var(--color-purple);
}

.catalog__link:focus.catalog__link::after {
  content: "";
  background-image: url(images/catalog_close.svg);
  height: 52px;
  width: 50px;
  opacity: 0.3;
  background-position: 0px 0px;
  background-repeat: no-repeat;
}

.catalog__link:hover.catalog__link::after,
.catalog__link:active.catalog__link::after {
  opacity: 1;
}


/* Каталог*/

.catalog__list {
  margin-left: -60px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 1160px;
  height: 180px;
  position: absolute;
  top: 30px;
  list-style: none;
  background-color: var(--color-basic-background);
  transform: scale(0);
}

.catalog__link:focus ~ .catalog__list {
  transform: scale(1);
  transition: 0.5ms;
}

.catalog__list:focus-within {
  transform: scale(1);
  transition: 0.5ms;
}


.catalog__items:nth-child(1) {
  margin-left: 60px;
  width: 222px;
  height: 180px;
}

.catalog__items:nth-child(2) {
  margin-left: 30px;
  width: 211px;
  height: 180px;
}

.catalog__items:nth-child(3) {
  width: 211px;
  height: 180px;
}

.catalog__camera {
  margin-top: 30px;
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 222px;
  height: 120px;
  justify-content: flex-start;
}

.catalog__item {
  margin-bottom: 25px;
}

.catalog__item:hover {
  opacity: 0.6;
}

.catalog__item:active {
  opacity: 0.3;
}

.catalog__item-link:focus {
  opacity: 0.3;

}

.catalog__watch {
  margin-top: 30px;
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 211px;
  height: 120px;
  justify-content: flex-start;
}

.catalog__drone {
  margin-top: 30px;
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 211px;
  height: 120px;
  justify-content: flex-start;
}

.catalog__item-link {
  font-family: var(--second-font-family);
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: var(--color-basic-black);
}

.catalog__item-link:focus {
  outline: 2px solid var(--color-purple);
}


.services {
  width: auto;
  z-index: 1;
}

.services__link {
  font-family: var(--basic-font-family);
  line-height: 54px;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: var(--color-basic-black);
  text-decoration: none;
}

.services__link:hover {
  opacity: 0.6;
}

.services__link:active {
  opacity: 0.3;
}

.services__link:focus {
  outline: 2px solid var(--color-purple);
}

/*  майн  */
.main {

}
/*  слайдер  */

.slider {
  margin: 0 auto 0 auto;
  padding-left: 140px;
  padding-right: 140px;
  width: 1160px;
  height: 560px;
  position: relative;
  transform: translatey(-35px);
  margin-bottom: 40px;
}
.slider__list {
  display: flex;
  position: relative;
  height: 560px;
  list-style: none;

}
.slider__item {
  position: absolute;
  width: 1160px;
  max-height: 560px;
  background-color: var(--color-basic-white);
  background-image: url(images/background-image-slider1.png);
  background-repeat: no-repeat;

}
.slider__quadrocopter{
  z-index: 3;
}

.slider__1 {
  background-image: url(images/background-image-slider01.png);
  background-repeat: no-repeat;
  background-position: 94% 8%;
  display: flex;
  justify-content: flex-start;
  gap: 35px;
}
.slider__1-img {
}

.slider__1-text,
.slider__2-text,
.slider__3-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 124px;
}

.slider__1-text-header,
.slider__2-text-header,
.slider__3-text-header {
  font-family: var(--basic-font-family);
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  padding-left: 4px;
}

.slider__1-text-body,
.slider__2-text-body,
.slider__3-text-body {
  font-family: var(--second-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: var(--color-basic-grey);
  padding-left: 4px;
}

.slider__button-info {
  position: absolute;
  top: 68%;
  left: 52%;
  display: flex;
}
.slider__button-link {
  display: inline-block;
  font-family: var(--basic-font-family);
  color: var(--color-basic-black);
  text-decoration: none;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  width: 220px;
  position: relative;
  z-index: 3;
  line-height: 40px;
  transform: translateY(-17px);
}

.slider__button-link:hover {
  background-color: var(--color-basic-background);
}

.slider__button-link:active {
  background-color: var(--color-yellow-dark);
}

.slider__button-link:active.slider__button-link::before  {
  content: "";
  border: none;
}

.slider__button-link:focus {
  outline: 2px solid var(--color-purple);
}


.slider__button-link::before {
  content: "";
  position: absolute;
  border: 4px solid var(--color-basic-background);
  width: 210px;
  z-index: -1;
  left: 0;
  top: 16px;
}

.slider__specifications {
  position: absolute;
  top: 81%;
  left: 52%;
  display: flex;
  gap: 20px;
}

.slider__specifications-info {
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;
}

.slider__specifications-info dd {
  font-family: var(--second-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 30px;
}

.slider__specifications-info dt {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: var(--color-basic-grey);
  font-family: var(--second-font-family);
}

.slider__fitness-bend {
  z-index: 2;
}
.slider__2 {
  background-image: url(images/background-image-slider02.png);
  background-repeat: no-repeat;
  background-position: 94% 6%;
  display: flex;
  justify-content: flex-start;
  gap: 35px;
}
.slider__2-img {
}


.slider__monopod {
  z-index: 1;
}

.slider__3 {
  background-image: url(images/background-image-slider03.png);
  background-repeat: no-repeat;
  background-position: 94% 6%;
  display: flex;
  justify-content: flex-start;
  gap: 35px;
}
.slider__3-img {
}

.slider__choice-container {
  position: absolute;
  z-index: 4;
  top: 67.5%;
  right: 10.5%;
}

.slider__choice-input {
  cursor: pointer;
  display: none;
}

.slider__choice::before {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 2px solid var(--color-basic-black) ;
  position: absolute;
  z-index: 4;
  cursor: pointer;
}

.slider__choice ~ .slider__choice {
  margin-left: 31px;
}

.slider__choice-input:checked + .slider__choice::before {
  background-color: var(--color-basic-black);
}

.slider__choice-input:hover + .slider__choice::before {
  opacity: 0.6;
}

.slider__choice-input:active + .slider__choice::before {
  opacity: 0.3;
}

.slider__choice-input:focus + .slider__choice::before {
  outline: 2px solid var(--color-purple);
} /*не понимаю, почему не работает*/

.slider__button-next {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  width: 20px;
  height: 60px;
  background-image: url(images/Vector-next.png);
  position: absolute;
  top: 38%;
  left: 47.2%;
  z-index: 4;
  background-color: var(--color-basic-white);
  cursor: pointer;
}


.slider__button-previous {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  height: 60px;
  width: 20px;
  background-image: url(images/Vector-next2.png);
  position: absolute;
  top: 38%;
  left: 11.8%;
  z-index: 4;
  background-color: var(--color-basic-white);
  cursor: pointer;
}

.slider__button-next:hover,
.slider__button-previous:hover {
  opacity: 0.5;
}

.slider__button-next:active,
.slider__button-previous:active {
  opacity: 0.3;
}

.slider__button-next:focus,
.slider__button-previous:focus {
  outline: 2px solid var(--color-purple);
}

/* Навигация */
.navigation {
  margin: 0 auto 170px auto;
  padding-left: 140px;
  padding-right: 140px;
  width: 1160px;
}

.navigation__list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(6, 160px);
  column-gap: 40px;
  grid-template-rows: 253px;
}
.navigation__item {
  width: 160px;
}
.navigation__link {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 253px;
  font-family: var(--basic-font-family);
  color: var(--color-basic-black);
  text-decoration: none;
  font-weight: 800;
  font-size: 17.5px;
  line-height: 24px;
  letter-spacing: -0.02em;
  background-color: var(--color-basic-background);
}

.navigation__link:hover {
  background-color: var(--color-yellow-dark);
}


.navigation__link:active {
  opacity: 0.3;
}

.navigation__link:focus {
  outline: 2px solid var(--color-purple);
}

.navigation__link-img {
  margin: auto;
}

.monopod-vector-img {
  margin: auto auto 0px auto;
}

.navigation__link-text {
  height: 60px;
  background-color: var(--color-basic-white);
  padding-top: 33px;
}

/* Сервис */
.service {
  display: flex;
  background-color: var(--color-grey-lite);
  margin: 0 auto 70px auto;
  justify-content: flex-start;
  height: 289px;
  box-sizing: border-box;
}
.service__container-button {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 190px;
  justify-content: space-between;
  margin: auto 0 auto auto;
  transform: translateY(-88px);
}

.service__button-input {
  display: block;
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}
.service__button {
  position: relative;
  width: 100%;
  height: 40px;
  display: inline-block;
  width: 100%;
  font-family: var(--basic-font-family);
  font-weight: 800;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  padding-right: 120px;
  box-sizing: border-box;
}

.service__button::after {
  content: "";
  height: 8px;
  width: 160px;
  background-color: var(--color-basic-background);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-4px);
  z-index: -1;
}

.service__button:hover:not(.service__button-input:checked + .service__button) {
  opacity: 0.6;
}

.service__button:active:not(.service__button-input:checked + .service__button) {
  opacity: 0.3;
}

.service__button-input:checked + .service__button {
  background-color: var(--color-basic-black);
  color: var(--color-basic-background);
}

.service__button-input:checked + .service__button:hover {
  color: rgba(255, 225, 127, 0.6);
}

.service__button-input:checked + .service__button:active {
  color: rgba(255, 225, 127, 0.3);
}

.service__container-text {
  min-width: 873px;
  height: 319px;
  margin-right: auto;
  transform: translateY(-28px);
  position: relative;
}

.service__container-text::after {
  content: "";
  height: 319px;
  width: 7px;
  background-color: var(--color-basic-black);
  position: absolute;
  left: -3px;
  top: -74px;
}

.service__list {
  list-style: none;
  position: relative;
}
.service__item {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 873px;
  height: 319px;
}

.service__delivery {

}

.service__guarante {
  display: none;
}

.service__credit {
  display: none;
}

.service__item-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: auto;
  margin-left: 116px;
}

.service__item-text-heading {
  font-family: var(--basic-font-family);
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 35px;
}
.service__item-text-annotation {
  font-family: var(--second-font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: var(--color-basic-grey);
}

.service__item-img {
  margin-bottom: auto;
  margin-right: 60px;
}



/* Доставка */
.delivery__order {
  display: flex;
  flex-direction: column;
  margin: 0 auto 70px auto;
  width: 1160px;
  height: 100px;
  position: relative;
}


.delivery__order-link {
  margin: auto;
  font-weight: 800;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-basic-black);
  width: 1160px;
  line-height: 100px;
  background-color: var(--color-grey-lite);
  width: 910px;
  height: 100px;
  padding-right: 125px;
  padding-left: 125px;
  position: relative;
}

.delivery__order-link::before {
  content: "";
  width: 125px;
  height: 100px;
  background-color: var(--color-basic-background);
  position: absolute;
  background-image: url(images/Vector_car.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  z-index: 3;
  left: 0px;
}

.delivery__order-button {
  position: absolute;
  color: var(--color-black-opacity-3);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: rgba(220, 220, 220, 0.5);
  line-height: 40px;
  right: 30px;
  top: 50%;
  transform: translate(-13px,-19px);
  cursor: pointer;
}

.delivery__order-button-info {
  display: none;
  position: absolute;
  width: 200px;
  height: 166px;
  right: -210px;
  top: -60px;
  background-color: var(--color-basic-black);
  color: var(--color-basic-white);
  line-height: 20px;
  font-size: 16px;
  font-family: var(--second-font-family);
  vertical-align: middle;
  padding: 10px;
  box-sizing: border-box;
}

.delivery__order-link:hover ~ .delivery__order-button {
  color: var(--color-basic-black);
}

.delivery__order-button:hover .delivery__order-button-info {
  display: block;
}


.delivery__order:hover .delivery__order-link::before {
  background-color: var(--color-yellow-dark);
}

.delivery__order-link:active { /* перерабоать комуникацию*/
  opacity: 0.5;
}

.delivery__order-link:active ~ .delivery__order-button {
  opacity: 0.5;
}

.delivery__order-link:focus {
  outline: 2px solid var(--color-purple);
}


/* всплывающее модальное окно*/

.delivery__order-window {
  position: fixed;
  width: 200vh;
  height: 100vh;
  background-color: var(--color-black-opacity-3);
  top: 0px;
  left: 0px;
  z-index: 5;
  display: none;
}

.open__window { /*для JS чтоб нажатии на кнопку и открылось окно*/
  display: block;
}



.order__window {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 900px;
  height: 548px;
  border: 10px solid var(--color-basic-black);
  background-color: var(--color-basic-white);
  transform: translate(-450px, -274px);
}

.order__window-info-container{
  display: grid;
  grid-template-rows: 50px 114px 94px 40px;
  row-gap: 30px;
  padding: 70px 60px;
  position: relative;
}

.delivery__order-container-persinal {
  display: flex;
  justify-content: space-between;
}

.order__window-name {
  font-family: var(--basic-font-family);
  font-weight: 800;
  line-height: 50px;
  font-size: 50px;
}

.order__window-user-name {
  font-family: var(--second-font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 50px;
  position: relative;
}

.user__name {
  content: "";
  width: 13px;
  height: 12px;
  background-image: url(images/user_login.svg);
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  top: 65%;
  right: 20px;
}

.order__window-input {
  box-sizing: border-box;
  padding: 2px 53px 2px 20px;
  background-color: var(--color-grey-input);
  width: 360px;
  height: 60px;
  border: 2px solid var(--color-grey-input);
}

.order__window-input:hover {
  border-color: var(--color-basic-grey);
}

.order__window-input:active,
.order__window-input:focus {
  border-color: var(--color-purple);
}


.order__window-email {
  font-family: var(--second-font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 50px;
  position: relative;
}

.user__email {
  content: "";
  width: 13px;
  height: 12px;
  background-image: url(images/user_mail.svg);
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  top: 65%;
  right: 20px;
}

.delivery__order-container-product {
  width: 760px;
  display: flex;
  position: relative;
}

.order__window-comment {
  font-family: var(--second-font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 50px;
  width: 540px;
  margin-right: 40px;
}

.order__user {
  width: 540px;
}

.order__window-value {
  font-family: var(--second-font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 50px;
  position: relative;
}

.order__window-value-container {
  position: absolute;
  top: 54%;
  left: 77%;
  transform: translate(-5px, -1px);
}

.order__window-info {
position: absolute;
height: 26px;
width: 26px;
border-radius: 50%;
background-color: var(--color-basic-background);
color: var(--color-basic-black);
line-height: 26px;
right: 18px;
top: 12px;
font-weight: 500;
font-size: 14px;
font-family: inherit;
cursor: pointer;
}


.order__window-info-text {
  width: 200px;
  height: 160px;
  color: var(--color-basic-white);
  background-color: var(--color-basic-black);
  font-family: var(--second-font-family);
  line-height: 20px;
  font-size: 16px;
  padding: 20px;
  box-sizing: border-box;
  text-align: left;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-150px,23px);
  display: none;
}

.order__window-info-text::before {
  content: "";
  width: 9px;
  height: 9px;
  background-color: var(--color-basic-black);
  transform: rotate(45deg);
  position: absolute;
  z-index: 2;
  top: -4px;
  left:72.5%;
}

.order__window-info:hover .order__window-info-text {
  display: inline-block;
}

.order__window-info:focus .order__window-info-text {
  display: block;
  position: relative;
  width: 180px;
  height: 60px;
}

.order__window-value-button {
  position: absolute;
  font: inherit;
  width: 60px;
  height: 60px;
  cursor: pointer;
  font-size: 28px;
  font-weight: 400;
}


.button__stepUp {
  right: 0px;
}

.button__stepDown {
  left: 0px;
}

.order__window-value-button:hover {
  background-color: var(--color-basic-background);
}

.order__window-value-button:active {
  background-color: var(--color-yellow-dark);
}

.order__window-value-button:focus {
  outline: 2px solid var(--color-purple);
}


.order__volume {
  box-sizing: border-box;
  width: 180px;
  padding-left: 60px;
  padding-right: 60px;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}

.order__volume::-webkit-outer-spin-button,
.order__volume::-webkit-inner-spin-button {
	display: none;
}

.order__window-button {
  width: 190px;
  text-align: center;
  transform: translate(-290px, 20px);
  cursor: pointer;
  line-height: 8px;
  background-color: #FFE17F;
  margin: auto;
  text-decoration: none;
  color: var(--color-basic-black);
  text-transform: uppercase;
  font-family: var(--basic-font-family);
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.2em;
}

.order__window-button-span {
  height: 40px;
  width: 190px;
}

.order__window-button:hover {
  line-height: 40px;
}

.order__window-button:active {
  line-height: 40px;
  background-color: var(--color-yellow-dark);
}

.order__window-button:focus{
  border: 2px solid var(--color-purple);
} /* вот тут как бы мне раздуплится с этой кнопокой я пробовал по разному но на ум только если полоску вставить как задний фон картинкой*/

.delivery__order-button-close {
  position: absolute;
  right: 60px;
  top: 80px;
  color: transparent;
  background-color: transparent;
  width: 26px;
  line-height: 26px;
  height: 26px;
  background-image: url(images/clous-image.svg) ;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.delivery__order-button-close:hover {
  opacity: 0.6;
}

.delivery__order-button-close:active {
  opacity: 0.3;
}

.delivery__order-button-close:focus {
  outline: 2px solid var(--color-purple);
}



/* Информация */
.information {
  display: flex;
  margin: 0 auto 70px auto;
  justify-content: space-between;
  width: 1160px;
  height: 545px;
}
.information__us {
  display: flex;
  flex-direction: column;
  width: 520px;
  justify-content: flex-start;
}

.information__us:before {
  content: "";
  width: 84px;
  height: 7px;
  background-color: var(--color-basic-black);
  position: absolute;
}


.information__us-heading {
  font-family: var(--second-font-family);
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 47px auto 47px 0px;
}
.information__us-text {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  font-family: var(--second-font-family);
  color: var(--color-basic-grey);
}

.information__us-delivery-company-list {
  display: flex;
  flex-direction: column;
  height: 98px;
  justify-content: space-between;
  margin-bottom: 30px;
  list-style: none;
}

.information__us-delivery-company-item {
  font-family: var(--second-font-family);
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  margin-left: 38px;
}

.information__us-delivery-company-item::before {
  content: "";
  color:#FFC700;
  min-width: 8px;
  min-height: 8px;
  border: none;
  background-color: #FFC700;
  border-radius: 50%;
  line-height: 20px;
  position: absolute;
  transform: translate(-35px, 6px);
}


.information__us-link {
  display: flex;
  width: 270px;
  height: 40px;
  position: relative;
  }

.information__us-link::before {
  content: "";
  border: 2px solid var(--color-basic-background);
  width: 99%;
  height: 4px;
  background-color: var(--color-basic-background);
  position: absolute;
  top: 50%;
  transform: translateY(-4px);
  z-index: -1;
}




.information__us-link-button {
  line-height: 40px;
  margin: auto;
  text-decoration: none;
  color: var(--color-basic-black);
  text-transform: uppercase;
  font-family: var(--basic-font-family);
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.2em;
  width: 270px;
  text-align: center;
  padding: 0 2px 0 0;
}

.information__us-link-button:hover {
  background-color: var(--color-basic-background);
}

.information__us-link-button:active {
  background-color: var(--color-yellow-dark);
}


.information__us-link:has(.information__us-link-button:focus) {
  outline: 2px solid var(--color-purple);
}


.contact {
  display: flex;
  flex-direction: column;
  width: 532px;
  justify-content: flex-start;
}

.contact:before {
  content: "";
  position: absolute;
  width: 84px;
  height: 7px;
  background-color: var(--color-basic-black);
}

.contact__heading {
  font-family: var(--second-font-family);
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 47px auto 47px 0px;
}
.contact__text {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  font-family: var(--second-font-family);
  color: var(--color-basic-grey);
}
.contact__heading-name {
  font-family: var(--second-font-family);
  color: var(--color-basic-grey);
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 15px;
}
.contact__adress {
  font-family: var(--second-font-family);
  color: var(--color-basic-grey);
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}
.contact__phone {
  font-family: var(--second-font-family);
  color: var(--color-basic-grey);
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 30px;
}
.contact__heading-time-work {
  font-family: var(--second-font-family);
  color: var(--color-basic-grey);
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 15px;
}
.contact__text-time-work {
  font-family: var(--second-font-family);
  color: var(--color-basic-grey);
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 30px;
}

.contact__button {
  font-weight: 800;
  font-size: 18px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  width: 259px;
  font-family: var(--basic-font-family);
  background-color: transparent;
  cursor: pointer;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
}


.contact__button::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 99%;
  height: 4px;
  border: 2px solid var(--color-basic-background);
  background-color: var(--color-basic-background);
  top: 50%;
  left: 0%;
  transform: translateY(-4px);
}

.contact__button:hover {
  background-color: var(--color-basic-background);
}

.contact__button:active {
  background-color: var(--color-yellow-dark);
}

.contact__button:focus {
  outline: 2px solid var(--color-purple);
}
/* Подписка */

.mailing {
  display: flex;
  margin: 0 auto 0 auto;
  flex-direction: column;
  justify-content: space-between;
  min-width: 1160px;
  background-color: var(--color-grey-lite);
  height: 421px;
}
.mailing__header {
  display: flex;
  width: 1160px;
  margin: 0 auto 20px auto;
  height: 233px;
  justify-content: space-between;
}
.mailing__heading {
  font-family: var(--basic-font-family);
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  width: auto;
  height: 100px;
  margin: auto auto auto 0;
}
.mailing__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  width: 560px;
  height: 90px;
  margin: 74px 0 auto auto;
}
.mailing__footer {
  display: flex;
  width: 1160px;
  height: 51px;
  margin: auto;
  justify-content: space-between;
}
.mailing__subscribe {
  display: flex;
  width: 810px;
}
.mailing__subscribe-input {
  font-family: var(--second-font-family);
  font-size: 18px;
  color: var(--color-basic-black);
  width: 557px;
  border-bottom: 3px solid var(--color-grey-border);
  line-height: 57px;
  padding-left: 17px;
  background-color: var(--color-grey-lite);
}

.mailing__subscribe-input::-webkit-input-placeholder {
  color: var(--color-basic-grey);
}

.mailing__subscribe-input:focus {
  background-color: var(--color-grey-border);
}


.mailing__subscribe-button {
  font-family: var(--basic-font-family);
  line-height: 30px;
  font-weight: 800;
  align-items: center;
  text-align: center;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  border: 3px solid var(--color-grey-border);
  width: 253px;
  cursor: pointer;
}

.mailing__free {
  font-family: var(--second-font-family);
  font-size: 18px;
  line-height: 51px;
  color: var(--color-basic-grey);
}

.mailing__free::before {
  content: "";
  background-image: url(images/green-mark.svg);
  width: 14px;
  height: 14px;
  position: absolute;
  transform: translate(-30px, 17px);
}


/* Футер */
.footer {
  min-width: 1440px;
  height: 321px;
  background-color: var(--color-basic-grey);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 0px;
}

.footer__cup {
  display: flex;
  width: 1160px;
  margin: 62px auto 46px auto;
  flex-direction: column;
  height: 110px;
  justify-content: space-between;
}
.footer__logo {
  position: relative;
  top: 0px;
  left: 0px;
}

.footer__logo-link {
}

.footer__logo-img:hover {
  opacity: 0.6;
}

.footer__logo-img:active {
  opacity: 0.3;
}

.footer__logo-link:focus {
  outline: 2px solid var(--color-purple);
  width: 149px;
  height: 40px;
}


.footer__content {
  display: flex;
  height: 40px;
  justify-content: space-between;
}
.footer__content-adress {
  font-family: var(--second-font-family);
  font-weight: 400;
  color: var(--color-basic-white);
  font-size: 16px;
  line-height: 20px;
  width: 239px;
}
.footer__content-services {
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 444px;
  z-index: 1;
  transform: translate(-40px, 5px);
}

.footer__content-services-item {
}

.footer__content-services-link {
  font-family: var(--basic-font-family);
  line-height: 21px;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: var(--color-basic-white);
  text-decoration: none;
}

.footer__content-services-link:hover {
  text-decoration: underline;
  color: var(--color-yellow-dark);
}

.footer__content-services-link:active {
  opacity: 0.3;
}

.footer__content-services-link:focus {
  outline: 2px solid var(--color-purple);
}



.footer__content-phone {
  transform: translate(-3px, 6px);
}

.footer__content-phone-link {
  color: var(--color-basic-white);
  font-family: var(--second-font-family);
  font-size: 16px;
  line-height: 20px;
}

.footer__content-phone-link:hover {
  color: var(--color-yellow-dark);
}

.footer__content-phone-link:active {
  opacity: 0.3;
}

.footer__content-phone-link:focus {
  outline: 2px solid var(--color-purple);
}

.footer__bottom {
  display: flex;
  width: 1160px;
  margin: 0 auto auto auto;
  justify-content: space-between;
  position: relative;
}

.footer__bottom::before {
  content: "";
  border: 3.5px solid var(--color-yellow-dark);
  position: absolute;
  width: 73px;
  left: 0;
  top: 50%;
}

.footer__bottom-img {
}

.footer__bottom-mеssenger {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 150px;
  height: 40px;
  margin: auto;
  transform: translateX(65px);
}
.footer__bottom-mеssenger-item {
  position: relative;
  background-color: var(--color-basic-white);
  width: 40px;
  border-radius: 20px;
  opacity: 0.3;
  margin-right: 15px;
}

.footer__bottom-mеssenger-item:hover {
  background-color: var(--color-yellow-dark);
  opacity: 1;
}

.facebook{
  display: inline-block;
  height: 40px;
  width: 40px;
  background: url(images/facebook.png) no-repeat;
  background-position: 50% 50%;
}

.instagrem {
  display: inline-block;
  height: 40px;
  width: 40px;
  background: url(images/instagram.png) no-repeat;
  background-position: 50% 50%;
}

.twitter {
  display: inline-block;
  height: 40px;
  width: 40px;
  background: url(images/twitter.png) no-repeat;
  background-position: 50% 50%;
}

.facebook:active,
.instagrem:active,
.twitter:active {
  opacity: 0.3;
}

.footer__bottom-executor {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  height: 33px;
  width: 115px;
  background-image: url(images/academy-adress.svg);
  transform: translateY(5px);
}

.footer__bottom-executor:hover {
  background-image: url(images/academy-adress-hover.svg);
}

.footer__bottom-executor:active {
  background-image: url(images/academy-adress-hover.svg);
  opacity: 0.3;
}

.footer__bottom-executor:focus {
  outline: 2px solid var(--color-purple);
}


.error {
  border-color: var(--color-basic-red);
}


